/* Quiz layout CSS */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    padding: 2rem 2rem 0;
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 2rem;
}
.footer {
    display: flex;
    justify-self: flex-end;
    padding-bottom: 2rem;
}
@media all and (min-width: 64rem) {
    body {
        align-items: center;
    }
    .header, .main, .footer {
        width: 50rem;
    }
}

/* Element zero out styling */
h1, h2, h3 {
    margin: 0;
}
ul {
    padding-left: 0;
    list-style: none;
}

/* General Styling */
.button {
    height: 3rem;
    padding: 0 2rem;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
    background-color: transparent;
    border: 0.0625rem solid #979797;
}

/* Start view styling */
.start {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.start__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

/* Quiz view styling */

.question {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.question__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.question__number {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.question__text {
    margin-bottom: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
}
.answer {
    position: relative;
    margin-bottom: 1rem;
}
.answer label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    padding: 0 1.5rem;
    border: 0.0625rem solid #979797;
}
.answer label div + div {
    margin-top: 0.25rem;
    font-size: 0.75rem;
}
.answer input[type="radio"] {
    position: absolute;
    top: 40%;
    right: 1.5rem;
    opacity: 0;
}
.answer input[type="radio"]:checked + label {
    background-color: #D8D8D8;
}
.answer input[disabled] + label {
    opacity: 0.5;
}
.correct label, .correct input[type="radio"]:checked + label {
    background-color: #9effa6;
    border: 0.0625rem solid #00920c;
    color: #00920c;
    opacity: 1;
}
.incorrect label, .incorrect input[type="radio"]:checked + label {
    background-color: #ff9e9e;
    border: 0.0625rem solid #920000;
    color: #920000;
    opacity: 1;
}
.footer__score {
    flex: 2;
    align-self: center;
}
.footer__control {
    flex: 1;
    height: 3rem;
    background-color: transparent;
    border: 0.0625rem solid #979797;
}